.list-view {
  margin: 10px;
}

.list-item {
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: all 2s ease;
  }

  &:hover:after {
    background: linear-gradient(180deg, rgba(15, 15, 15, 0.8) 0%, rgba(255, 255, 255, 0) 50%, rgba(12, 12, 15, 0.8) 100%);
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
